p{
    font-family: arial;
}
@media (min-width :750px){
body{
    background-color: rgba(0, 0, 0, 0.04);
    margin:0px;
    padding-top: 80px;
    padding-left: 95px;
    padding-right:24px;
    padding-bottom: 1000px;
   
}
}
