    .vid-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 15px;
        row-gap:40px;
        
    }
   @media(max-width:750px){
        .vid-grid{
            grid-template-columns: 1fr;
            scale: 0.95;
            position: relative;
            bottom: 30px;
        }
        .sidebar{
            transition:ease-out ;
            display:none;
        }
        body{
            padding-top: 0px;
        }
        
        .search-button,.searchbar,.upload-icon,.youtube-apps-icon{
            display: none;
            
        }
        .middle-hed-section{
            position: relative;
            right:30px;
        }
        .right-hed-section{
            position: relative;
            right: 110px;
        }
        .profile-pic-icon{
            position: relative;
            right: 20px;
        }
        .search-button{
            border: none;
        }
    }


    @media(min-width:999)and(max-width:751){
        .vid-grid{
            grid-template-columns: 1fr 1fr 1fr;
        }
    
    }
    @media(min-width:1000px) {
        
            .vid-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        
    }
    .whole-div{
        transition: scale 0.5s,background-color 0.5s,opacity 0.5s,border-radius 0.5s,background-image 5s,padding 0.1s;
        display:inline-block; 
        size: 300px; 
        cursor: pointer;
        
        
    }
    .thum-div{
        margin-bottom: 10px; 
        position: relative;
        
    }
    
    .thumb{
        border-radius: 10px;
        width: 100%;
    }
    .down-thum-whole-div-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
        
    }
    .channal-profile-div{
        vertical-align: top;
    }
    .profile-pic{
        border-radius: 90px;
        height: 35px; 
    }
    .vid-info-div{
        
    }

    .vid-title{
        display:block;
        font-weight: 600;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
    }
    .vid-author,.vid-stats{
        color: rgb(96, 96, 96);
        font-size: 12px;
        line-height: 10px;
        margin: 0;
        
    }
    .vid-info-div p{
        margin-bottom: 9px;
       
    }
    .whole-div:active{
        scale: 1.04;

        border-radius: 10px;
       
        background-image: linear-gradient(to top,white,rgb(41, 41, 41));
        padding: 2px 3px 0px 3px;
        

    }
    .vid-time{
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right: 6px;
        font-family: arial;
        font-size: 12px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 3px;
        font-weight: bold;
    }   
  .setting{
    position: relative;
    bottom: 30px;
    left: 80%;
    border: none;
    background-color: transparent;
    rotate: 90deg;
    font-weight: 700;
  }
